<!-- partials/state2.html -->
<h1>{{'texts.edit' | i18next}}</h1>
<form>
  <div class="form-group">
    <label for="text"> {{'texts.title' | i18next}}:</label>
    <input type="text" class="form-control" id="title" ng-model="note.title" required="number">
  </div>
  <div class="form-group">
    <label for="body">{{'texts.body' | i18next}}:</label>
    <input type="text" class="form-control" id="body" ng-model="note.body" required="number">
  </div>
  <input type="submit" class="btn btn-primary" ng-click="editNote()" value="{{'texts.edit' | i18next}}"/>
</form>